/docsygen
/doc
/3rdParty
/bin
*.tlog
*.swp

# C++ objects and libs
*.slo
*.lo
*.o
*.obj
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# VisualStudio
*.lastbuildstate
*.cache
*.manifest
*.log
*.exe
*.pdb
*.unsuccessfulbuild
*.user
*.ipch
*.sdf
*.suo
*.idb
*.ilk
*.opensdf

# Qt-es
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
